.contacts {
  margin: 160px 0 180px;
  color: #002147;

  .contacts-title {
    font-family: 'Croissant One', sans-serif;
    font-size: 48px;
    line-height: 1.3;
    font-weight: 400;
    text-align: center;
    margin-bottom: 42px;
  }

  .contact-info {
    margin: 0 auto 42px;
    width: 100%;

    .contact-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 100%;
      margin-bottom: 16px;

      .contact-icon {
        width: 32px;
        height: 32px;
      }
    }
  }

  .contact-form {
    margin: 0 auto 42px;
    max-width: 600px;
    width: 100%;

    .form-group {
      margin-bottom: 16px;
      width: 100%;

      .contact-input {
        display: block;
        font-size: 16px;
        line-height: 1;
        font-weight: 400;
        color: white;
        border: 2px solid #002147;
        border-bottom-color: transparent;
        transition: border-color .3s ease-in-out;
        background-color: transparent;
        padding: 0 16px;
        border-radius: 15px;

        width: 100%;
        min-height: 55px;

        &::placeholder {
          color: #002147;
          opacity: .7;
        }

        &:focus-visible {
          border: 2px solid transparent;
          border-bottom-color: #FFD700;
        }
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 32px auto 42px;
      padding: 10px 15px;
      width: fit-content;
      min-width: 180px;
      min-height: 55px;
      font-size: 16px;
      line-height: 1;
      color: #002147;
      background-color: inherit;
      border-radius: 15px;
      border: 2px solid #FFD700;
      border-top-color: transparent;
      transition: border-color .3s ease-in-out;

      &:active {
        border: 2px solid transparent;
        border-top-color: #FFD700;
        transition-duration: .1s;
      }

      &:hover {
        border: 2px solid transparent;
        border-top-color: #FFD700;
      }

    }
  }

  .contacts-map {
    max-width: 800px;
    width: 100%;
    height: 400px;
    margin: 0 auto;

    >iframe {
      width: 100%;
      height: 100%;
    }
  }
}
